@import "resets";
@import "variables";

@mixin flex-align($direction, $justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

@mixin mobile {
  @media screen and (min-width: 375px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}


.container {
  @include flex-align(column, center);

  height: 100vh;
  width: 100%;
  position: relative;

  background: url("../images/bg-stars.svg"),
    linear-gradient($bg-primary, $bg-primary);
  color: white;
  overflow: hidden;

  .title {
    margin: 0 20px 50px;
    letter-spacing: 5px;
    text-align: center;
  }

  //COUNTER STYLES
  .counter {
    @include flex-align(row, space-around);
    width: 100%;
    padding: 0 5%;

    .digit {
      perspective: 600px;
    }
    .counter-number {
      width: 80px;
      height: 80px;
      position: relative;
      margin-bottom: 40vh;
      font-size: 3.5rem;
      color: $color-primary;

      line-height: 1.42;

      &::after,
      &::before {
        position: absolute;
        z-index: 0;
        display: flex;
        justify-content: center;

        width: 100%;
        height: 50%;

        overflow: hidden;
      }

      &::before {
        content: attr(data-num-before);
        align-items: flex-end;
        bottom: 0;
      }

      &::after {
        content: attr(data-num-after);
        align-items: flex-start;
        top: 0;
      }

      &::before,
      &::after,
      .card,
      .card-face {
        background: $bg-primary;
      }

      &::after,
      .card-front {
        background: linear-gradient( lighten($bg-primary, 7%),lighten($bg-primary, 12%),lighten($bg-primary, 7%)) ;
        border-radius: 5px 5px 0 0;
        
      }

      &::before,
      .card-back {
        background: linear-gradient( lighten($bg-primary, 10%),lighten($bg-primary, 15%),lighten($bg-primary, 10%)) ;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
      }

      .card {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 50%;
        transform-style: preserve-3d;
        transform-origin: bottom;
        transform: rotateX(0);

        transition: transform 250ms ease-in-out;

        .card-face {
          position: absolute;
          font-size: 3.5rem;

          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          overflow: hidden;
          backface-visibility: hidden;
        }

        .card-front {
          align-items: flex-start;
        }

        .card-back {
          align-items: flex-end;
          transform: rotateX(-180deg);
        }

        &.flipped {
          transform: rotateX(-180deg);
        }
      }

      label {
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        color: $color-secondary;
        font-size: 0.55rem;
        letter-spacing: 4px;
      }

      .dot::before,
      .dot::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 7px;
        background: $bg-primary;
        z-index: 3;
        top: calc(50% - 3.5px);
        border-radius: 50%;
        
      }

      .dot::before {
        left: -5px;
      }

      .dot::after {
        right: -5px;
      }

      
    }
  }

  .hill {
    position: absolute;
    bottom: 0;
  }

  .social-icons {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    @include flex-align(row, space-between);
    width: 25%;
  }

  @include mobile {
    .counter {
      width: 100%;

      .counter-number {
        width: 80px;
        height: 80px;
      }
    }
  }

  @include desktop {
    .counter {
      width: 55%;
      padding: 0 50px;

      .counter-number {
        width: 150px;
        height: 150px;
        line-height: 1.6;
        font-size: 6rem;

        .card {
          .card-face {
            font-size: 6rem;
          }
        }

        .dot::after,
        .dot::before {
          width: 15px;
          height: 13px;
          top: calc(50% - 6.5px);
        }
      }
    }

    .social-icons {
      width: 12.5%;
    }

    .hill {
      width: 100%;
    }
  }
}
